#check-ins.tab-pane.user-main.p-3(role='tabpanel')
    h4.mb-3.font-weight-bold Check-ins

    b My Professional Development Goal is:
    .card.mb-2.mt-2.bg-transparent
        .card-block To become certified as Project Management Professional (PMP) within 18 months
    b My Actions are
    small.d-block.mb-2
        em If you need to change or add action, please do so in the 
            u.font-weight-bold Goal Setting page
    #accordion-checkins.accordion(role='tablist', aria-multiselectable='true')
        .card.mb-1.bg-transparent
            a(data-toggle='collapse', data-parent='#accordion-checkins', href='#collapse-checkin-action-1', aria-expanded='true', aria-controls='collapse-checkin-action-1')
                .card-header.bg-white#checkin-action-1(role='tab')
                    h6.d-inline-block.mb-0.font-weight-bold I will take a Project Management course at BCIT
            #collapse-checkin-action-1.collapse.show.bg-transparent(role='tabpanel', aria-labelledby='checkin-action-1')
                .card-block 
                    form(method='POST', action='/submit-checkin-1')
                        .card.mt-2.bg-transparent
                            .card-block
                                label.d-block.font-weight-bold.text-dark-blue Employee Comment
                                .d-inline-block.w-85
                                    input#employee-checkin-comment-1.form-control(type='text', placeholder="How are you doing with this action?", name='employee-comment')
                                .d-inline-block.w-15
                                    .d-flex.justify-content-around
                                        button.no-bg(type='reset')
                                            i.fa.fa-times.fa-lg(aria-hidden='true')
                                        button.btn.btn-primary(type='submit') Submit
                .card-footer.bg-transparent
                    label.d-block.text-dark-blue.font-weight-bold Manager Comment:
                    | This will only show when manager has submitted a comment toward this action.
                                
                // not sure if this suppose to be in the employee page
                    .card.mt-2.bg-transparent
                        .card-block
                            label.d-block.font-weight-bold.text-dark-blue Manager Comment
                            input#manager-checkin-comment-1.form-control(type='text', placeholder="What have you observed about the employee's efforts toward this action?", name='manager-comment')
        //check-in action #2
        .card.mb-1.bg-transparent
            a.collapsed(data-toggle='collapse', data-parent='#accordion-checkins', href='#collapse-checkin-action-2', aria-expanded='true', aria-controls='collapse-checkin-action-2')
                .card-header.bg-white#checkin-action-2(role='tab')
                    h6.d-inline-block.mb-0.font-weight-bold I will participate at the UBC Project Management seminar on Sept 27, 2017
            #collapse-checkin-action-2.collapse.bg-transparent(role='tabpanel', aria-labelledby='checkin-action-2')
                .card-block 
                    form(method='POST', action='/submit-checkin-2')
                        .card.mt-2.bg-transparent
                            .card-block
                                label.d-block.font-weight-bold.text-dark-blue Employee Comment
                                .d-inline-block.w-85
                                    input#employee-checkin-comment-2.form-control(type='text', placeholder="How are you doing with this action?", name='employee-comment')
                                .d-inline-block.w-15
                                    .d-flex.justify-content-around
                                        button.no-bg(type='reset')
                                            i.fa.fa-times.fa-lg(aria-hidden='true')
                                        button.btn.btn-primary(type='submit') Submit
                .card-footer.bg-transparent
                    label.d-block.text-dark-blue.font-weight-bold Manager Comment:
                    | This will only show when manager has submitted a comment toward this action.
                // not sure if this suppose to be in the employee page
                    .card.mt-2.bg-transparent
                        .card-block
                            label.d-block.font-weight-bold.text-dark-blue Manager Comment
                            input#manager-checkin-comment-1.form-control(type='text', placeholder="What have you observed about the employee's efforts toward this action?", name='manager-comment')