#employee-select.tab-pane.user-main.p-3(role='tabpanel')
    h4.mb-3.font-weight-bold View Employee

    .mb-3
        .text-muted.mb-3.font-weight-bold Select Employee
        //-- this needs to be recoded to an extent
        form#get-employee-goal(method="POST", action="/get-employee-goal")
            .form-group.d-inline-block.w-45.pl-1
                select#manager-employee-select.form-control
            .form-group.d-inline-block.w-45.pl-1
                select#manager-employee-date-select.form-control
            .form-group.d-inline-block.w-10.text-right
                button.btn.btn-primary(type='submit') View
    ul.nav.nav-pills.h-line.mb-3.pb-3(role='tablist')
        li.nav-item
            a#ev-overview-link.nav-link.disabled(data-toggle='tab', role='tab', href='#employee-view', aria-expanded='false') Employee
        li.nav-item
            a#ev-checkin-link.nav-link.disabled(data-toggle='tab', role='tab', href='#employee-checkins') Check-ins
        li.nav-item
            a#ev-goal-review-link.nav-link.disabled(data-toggle='tab', role='tab', href='#employee-goal-review') Goal Review
    #ev.tab-content
        #employee-view.tab-pane.active(role='tabpanel')
            h4#ev-emp-name.mb-3 Coca Cola
                span#ev-emp-badge.badge.badge-info.ml-2 S2
            #ev-emp-data.mb-3
                .w-50.d-inline-block
                    label.w-40.text-dark-blue Employee ID:
                    span#ev-emp-id 2522
                .w-50.d-inline-block
                    label.w-40.text-dark-blue Hired Date:
                    span#ev-hired-date 28-Dec-09
                .w-50.d-inline-block
                    label.w-40.text-dark-blue Department:
                    span#ev-dept Supportability
                .w-50.d-inline-block
                    label.w-40.text-dark-blue Division:
                    span#ev-division Operations
                .w-50.d-inline-block
                    label.w-40.text-dark-blue Title:
                    span#ev-title Logistics Support Engineer
                .w-50.d-inline-block
                    label.w-40.text-dark-blue Manager:
                    span#ev-manager Kevin Hart
            #ev-goal-overview
        #employee-checkins.tab-pane(role='tabpanel')
            h4.mb-3 Check-ins
            .text-muted.h-line.mb-3.font-weight-bold Goal
            .card.bg-transparent
                .card-block
                    h5.font-weight-bold#ev-checkin-goal
            .text-muted.h-line.mb-3.mt-3.font-weight-bold Actions
            #ev-checkin-actions
        #employee-goal-review.tab-pane(role='tabpanel')
            h4.mb-3 Goal Review
            .text-muted.h-line.mb-3.font-weight-bold Goal
            .card.bg-transparent.mb-3
                .card-block
                    h5.font-weight-bold#ev-gr-goal
            .text-muted.h-line.mb-3.mt-3.font-weight-bold Actions
            #ev-gr-actions