#employee-view.tab-pane.active(role='tabpanel')
    h4#ev-emp-name.mb-3
        span#ev-emp-badge.badge.badge-info.ml-2
    #ev-emp-data.mb-3
        .w-50.d-inline-block.mb-2
            label.font-weight-bold.w-40.text-dark-blue 
                i.fa.fa-id-card-o.fa-lg.mr-1(aria-hidden='true')
                | Employee Number:
            span#ev-emp-id
        .w-50.d-inline-block.mb-2
            label.font-weight-bold.w-40.text-dark-blue 
                i.fa.fa-calendar.fa-lg.mr-1(aria-hidden='true')
                | Hired Date:
            span#ev-hired-date
        .w-50.d-inline-block.mb-2
            label.font-weight-bold.w-40.text-dark-blue 
                i.fa.fa-building.fa-lg.mr-1(aria-hidden='true')
                | Department:
            span#ev-dept
        .w-50.d-inline-block.mb-2
            label.font-weight-bold.w-40.text-dark-blue 
                i.fa.fa-sitemap.fa-lg.mr-1(aria-hidden='true')
                | Division:
            span#ev-division
        .w-50.d-inline-block.mb-2
            label.font-weight-bold.w-40.text-dark-blue 
                i.fa.fa-id-badge.fa-lg.mr-1(aria-hidden='true')
                | Title:
            span#ev-title
        .w-50.d-inline-block.mb-2
            label.font-weight-bold.w-40.text-dark-blue 
                i.fa.fa-user.fa-lg.mr-1(aria-hidden='true')
                | Manager:
            span#ev-manager