#reports.tab-pane.user-main.p-3(role='tabpanel')
    h4.mb-3.font-weight-bold Reports

    form(method='GET', action='/get/report')
    .d-flex.justify-content-between.align-items-start
        .card.bg-transparent.w-29
            .card-block
                h6.text-muted.font-weight-bold Employee
                select.w-100.form-control(multiple, size='12')
                    option Joe Average
                    option Coco Cola
                    option Colonel Kentucky
                    option Mary Manager
                button#reports-selcet-employee.btn.btn-primary.mt-2.mr-1(type='button') Select All
                button#reports-deselect-employee.btn.btn-primary.mt-2(type='button') Reset
        .card.bg-transparent.w-69
            .card-block.d-flex.justify-content-between
                .w-49
                    h6.text-muted.font-weight-bold Fields
                    select.w-100.form-control(multiple, size='12')
                        option Name
                        option Title
                        option Department
                        option Division
                        option Manager
                        option Level
                        option Hired Date
                        option Submitted
                    button#reports-select-fields.btn.btn-primary.mt-2(type='button') Select All
                .w-49
                    h6.text-muted.font-weight-bold Selected
                    select.w-100.form-control(multiple, size='12')
                    button#reports-deselect-fields.btn.btn-primary.mt-2(type='button') Reset
    .w-100.mt-2.text-right
        button.btn.btn-primary.mr-1(type='submit', name='export', value='export') Export  
        button.btn.btn-primary(type='submit', name='generate', value='generate') Generate