/* background-color */
.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-dark-blue {
    background-color: rgb(0, 73, 144);
}

.card-primary-light {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.card-secondary-light {
    color: #464a4e;
    background-color: #e7e8ea;
    border-color: #dddfe2;
}

.bg-success-light {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.bg-danger-light {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.bg-warning-light {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.bg-info-light {
    color: rgb(0, 73, 144);
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.bg-light-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.bg-dark-light {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.bg-transparent {
    background-color: transparent;
}

/* color */
.smart h3, .smart h6 {
    color: rgb(0, 0, 0);
}

.text-dark-blue {
    color: rgb(0, 73, 144);
}

.text-white {
    color: rgb(255, 255, 255);
}

.text-green {
    color: rgb(0, 255, 0);
}

.text-red {
    color: rgb(255, 0, 0)
}