@import "widths.css";
@import "colors.css";

/* normalization */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(0, 73, 144);
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
}

input, textarea, select, option, button {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
    font-weight: bold;
    color: rgb(0, 73, 144);
}

/* components */
.btn, .pntr {
    cursor: pointer;
}

.no-click {
    pointer-events: none;
}

.h-line {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(175, 175, 175);
}

/* text decorations */
.text-border {
    text-shadow: -2px -2px black, 2px 2px black, -2px 2px black, 2px -2px black, 3px 0px black, 0px 3px black, -3px 0px black, 0px -3px black;
}

/* bootstrap popover */
.popover {
    min-width: 400px;
    max-width: 1000px;
    word-wrap: normal;
}

.popover .card-header, .popover .card-block {
    padding: 3px;
}

.popover .card-block {
    word-break: keep-all;
}

/* div for status message */
#status-message {
    min-height: 50px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: -50px;
    left: 0;
    z-index: 3;
}

#status-message button {
    color: rgb(255, 255, 255);
}

/* top bar */
.topbar {
    border-bottom: 10px solid #DDFAFB;
}

/*sidebar */
.profile-pic {
    border: 5px solid rgb(0, 73, 144);
}

/* navbar */
.nav-tabs .nav-link.active {
    background-image: url("/images/body-tail.gif");
    border-bottom: 1px solid rgb(222, 229, 230);
}

/* main area */
.user-main {
    border-left: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    background-image: url("/images/body-tail.gif");
    min-height: 300px;
}

#goal-warning {
    min-height: 275px;
}

#accordion-overview a:hover {
    text-decoration: none;
}

.accordion .collapsed .card-header:after {
    content: url("/images/expand-button.png");
    float: right;
}

.accordion .card-header:after {
    content: url("/images/collapse-button.png");
    float: right;
}

/* footer */
#footer {
    border-top: 10px solid #DDFAFB;
}

.no-bg {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

/* manager select employee */
#ev {
    display: none;
}

/* checkin and goal review status */
.comment-status, .gr-comment-status {
    height: 0px;
    opacity: 0;
    -webkit-transition: 2s;
    transition: 2s;
}

/* login loading screen */
.loading-parent {
    display: none;
    width: 100%;
    height: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading-status {
    width: 25%;
    text-align: center;
}

#login-status {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5;
    color: rgb(255, 255, 255);
}

/* notification */
#hr-controls {
    position: relative;
}

#notification {
    position: absolute;
    float: left;
    right: 0px;
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 1;
    display: none;
}

#notification div {
    text-align: left;
}

/* DataTable library */
td.details-control {
    text-align: center;
    cursor: pointer;
}