.w-99 {
    width: 99%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-69 {
    width: 69%;
}

.w-63 {
    width: 63%;
}

.w-49 {
    width: 49%;
}

.w-48 {
    width: 48%;
}

.w-45 {
    width: 45%;
}

.w-40 {
    width: 40%;
}

.w-32 {
    width: 32%;
}

.w-30 {
    width: 30%;
}

.w-29 {
    width: 29%;
}

.w-24 {
    width: 24%;
}

.w-20 {
    width: 20%;
}

.w-18 {
    width: 18%;
}

.w-15 {
    width: 15%
}

.w-10 {
    width: 10%;
}

.w-7 {
    width: 7%;
}

.w-5 {
    width: 5%;
}

/* min width */
.mw-50p {
    min-width: 50px;
}

.mw-200p {
    min-width: 200px;
}