doctype html
html
    head
        include inc/header
    body
        include inc/top

        .container-fluid.bg-white.p-4
            .row
                include inc/sidebar
                .col-md-10
                    include inc/name_title
                    include inc/content
        include inc/footer