- var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
- var formatDate = function(date) { var d = monthNames[date.getUTCMonth()] + ' ' + date.getUTCDate() + ', ' + date.getFullYear(); return d; }
- var formatShortDate = function(date) { var sd = date.getUTCDate() + '-' + monthNames[date.getUTCMonth()].substr(0, 3) + '-' + date.getYear().toString().substr(-2); return sd; }
- var calculateDate = function(date) { if (date.getUTCMonth() > 8) { var checkin = '01'; var year = date.getUTCFullYear() + 1; } else if (date.getUTCMonth() < 3) { var checkin = '01'; var year = date.getUTCFullYear(); } else if (date.getUTCMonth() > 2 || date.getUTCMonth() < 9) { var checkin = '07'; year = date.getUTCFullYear() } return year + '-' + checkin + '-01'; }

doctype html
html
    head
        include inc/header


    body
        include inc/top

        .container-fluid.bg-white.p-4
            .row
                include inc/sidebar
                .col-md-10
                    include inc/name_title
                    include inc/content
        include inc/footer