- var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
- var formatDate = function(date) { var d = monthNames[date.getUTCMonth()] + ' ' + date.getUTCDate() + ', ' + date.getFullYear(); return d; }
- var formatShortDate = function(date) { var sd = date.getUTCDate() + '-' + monthNames[date.getUTCMonth()].substr(0, 2) + '-' + date.getYear().toString().substr(-2); return sd; }

doctype html
html
    head
        include inc/header
    body
        include inc/top

        .container-fluid.bg-white.p-4
            .row
                include inc/sidebar
                .col-md-10
                    include inc/name_title
                    include inc/content
        include inc/footer