doctype html
html
    head
        title OSI Professional Development Program - Employee Report
        link(rel='stylesheet' href='/css/report.css')
    body
        table.main-1.w-100
            tr
                td
                    table.main-2.w-100
                        tr.header
                            td Name
                            td Title
                            td Department
                            td Division
                            td Manager
                            td Hired Date
                            td Level
                            td Submitted
                        tr.emp-values
                            td Roger Chin
                            td Software Engineer
                            td Software Engineering
                            td Engineering
                            td Mary Manager
                            td 23-Apr-10
                            td P1
                            td Yes
                        tr.emp-values
                            td Clark Kent
                            td Superman
                            td Superhero
                            td DC Comics
                            td God
                            td 23-Jan-68
                            td S1
                            td No
                        tr.emp-values
                            td Ronald McDonald
                            td Clown
                            td Mascot
                            td McDonald's
                            td McDonald's CEO
                            td 19-Oct-89
                            td C1
                            td No