doctype html
html
    head
        title OSI Professional Development Program - Employee Report
        link(rel='stylesheet', href='/css/report.css')
    body
        table.main-1.w-100
            tr
                td.emp-name
                    h2.mx-0 Roger Chin
            tr
                td
                    table.main-2.w-100
                        tr.header
                            td Title
                            td Department
                            td Division
                            td Manager
                            td Hired Date
                            td Level
                            td Submitted
                        tr.emp-values
                            td Software Engineer
                            td Software Engineering
                            td Engineering
                            td Mary Manager
                            td 23-Apr-10
                            td P1
                            td Yes
            tr
                td
                    table.goal.w-100
                        tr
                            td.header Goal
                        tr
                            td.body To complete the report layout
            tr
                td
                    table.main-3.w-100
                        tr.action-header
                            td.indent-1
                            td Action
                            td Due Date
                            td Hourly Cost
                            td Training Cost
                            td Expenses
                        tr.action-body
                            td
                            td Separate rows by colors
                            td 7-Oct-17
                            td $20
                            td $200
                            td $1,000,000
                        tr.action-body
                            td
                            td Nest goal under employee table
                            td 7-Oct-17
                            td $20
                            td $200
                            td $0