.goal-div.mt-4
    #tab-tooltips
    include nav_tabs
    .tab-content
        include overview
        include goal_prep
        include goal_setting
        include checkins
        include goal_review
        if user.auth == 'Manager' || user.auth == 'HR'
            include employee_select
        if user.auth == 'HR'
            include admin