.goal-div
    include inc/nav_tabs
    .tab-content
        include inc/overview
        include inc/goal_setting
        include inc/checkins
        include inc/goal_review
        if level == 'Manager' || level == 'HR'
            include inc/employee_select
