.goal-div
    ul.nav.nav-tabs
        li.nav-item
            a.nav-link.active(data-toggle='tab', role='tab', href='#overview') Overview
        li.nav-item
            a.nav-link(data-toggle='tab', role='tab', href='#goal-setting') Goal Setting
        li.nav-item
            a.nav-link(data-toggle='tab', role='tab', href='#check-ins') Check-ins
        li.nav-item
            a.nav-link(data-toggle='tab', role='tab', href='#goal-review') Goal Review
    .tab-content
        // overview pane
        #overview.tab-pane.active.user-main.p-3(role='tabpanel')
            h4.mb-3.font-weight-bold May 2017 - September 2017
            .text-muted.mb-3.h-line.font-weight-bold Goal
            | To become certified as a Project Management Profession (PMP) within 18 months
            .text-muted.mb-3.mt-3.h-line.font-weight-bold Actions
            #accordion(role='tablist', aria-multiselectable='true')
                // action #1
                .card.mb-1.bg-transparent
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse-overview-1', aria-expanded='true', aria-controls='collapse-overview-1')
                        #overview-action-1.card-header.bg-white(role='tab')
                            h6.d-inline-block.mb-0.font-weight-bold I will take a Project Management course at BCIT
                    #collapse-overview-1.collapse.show.bg-transparent(role='tabpanel', aria-labelledby='overview-action-1')
                        .card-block
                            .action-items.card-deck
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Due Date
                                        | 30-Sep-17
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Hourly Cost
                                        | $18
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Course Cost
                                        | $1025
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Travel/Lodging
                                        | $150
                // action #2
                .card.bg-transparent.mb-1
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse-overview--2', aria-expanded='true', aria-controls='collapse-overview--2')
                        #overview-action-2.card-header.bg-white(role='tab')
                            h6.d-inline-block.mb-0.font-weight-bold I will participate at the UBC Project Management seminar on Sept 27, 2017
                    #collapse-overview--2.collapse.bg-transparent(role='tabpanel', aria-labelledby='overview-action-2')
                        .card-block
                            .action-items.card-deck
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Due Date
                                        | 30-Sep-17
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Hourly Cost
                                        | $18
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Course Cost
                                        | $0
                                .card.bg-transparent
                                    .card-block.text-center
                                        label.d-block.font-weight-bold.text-dark-blue Travel/Lodging
                                        | $0
        // goal setting pane
        #goal-setting.tab-pane.user-main.p-3(role='tabpanel')
            h4.mb-3.font-weight-bold Goal Setting
            small
                em
                | Remember that when setting your goal you should be thinking about a 1 - 2 year timeline. It may be a goal to become qualified for a different role, learn a new technology or skill, get better at the job you do now, or something complete different. Be careful to not mistake an action item for a goal. It is best to start with a big goal and then narrow it down than to start with an action item and make it into a goal. To set yourself up for success, make sure your goal is SMART.
            .d-flex.justify-content-between.smart-cards.mb-3.h-line.pb-2
                .w-18.card.card-success
                    .card-block.text-center
                        h3 S
                        h6.font-weight-bold Specific
                        small Exactly what is it you want to achieve
                .w-18.card.card-info
                    .card-block.text-center
                        h3 M
                        h6.font-weight-bold Measurable
                        small Goals that consist of smaller goals
                .w-18.card.card-danger
                    .card-block.text-center
                        h3 A
                        h6.font-weight-bold Attainable
                        small Set stretch goals that are realistic and achievable
                .w-18.card.card-warning
                    .card-block.text-center
                        h3 R
                        h6.font-weight-bold Relevant
                        small Goals that only you can accomplish
                .w-18.card.card-primary
                    .card-block.text-center
                        h3 T
                        h6.font-weight-bold Time-Bound
                        small All goals must have a deadline
            .define-goal
            form(method='POST', action='/save-goal-changes')
                .form-group
                    label.d-block.font-weight-bold.text-dark-blue My Professional Development Goal is:
                    input#goal.form-control(type='text', name='goal')
                .card.bg-transparent.mb-3
                    .goal-actions.card-block
                        .form-group
                            label.d-block.font-weight-bold.text-dark-blue Action 1:
                            input#set-action-1.form-control(type='text', name='goal-action')
                        .form-inline.mt-4
                            label.font-weight-bold.text-dark-blue.mr-5 Due Date:
                            select#month-select.form-control.mr-1(name='month-select')
                                option January
                                option February
                                option March
                            select#day-select.form-control.mr-1(name='day-select')
                                option 1
                                option 2
                                option 3
                            select#year-select.form-control.mr-1(name='year-select')
                                option 2017
                                option 2018
                        .card-deck.mt-3
                            .card.bg-transparent
                                .card-block.text-center
                                    label.d-block.font-weight-bold.text-dark-blue Hourly Cost
                                    input#hourly-cost.form-control(type='text', name='hourly-cost')
                            .card.bg-transparent
                                .card-block.text-center
                                    label.d-block.font-weight-bold.text-dark-blue Course Cost
                                    input#course-cost.form-control(type='text', name='course-cost')
                            .card.bg-transparent
                                .card-block.text-center
                                    label.d-block.font-weight-bold.text-dark-blue Travel/Lodging
                                    input#expenses.form-control(type='text', name='expsenses')
                button.btn.btn-success.ml-auto(type='button') Add Action
                .form-group.text-center
                    button.btn.btn-primary(type='submit') Save Changes
        // check-ins pane
        #check-ins.tab-pane.user-main.p-3(role='tabpanel')
            h4.mb3.font-weight-bold Check-ins

            b My Professional Development Goal is:
            .card.mb-2.mt-2.bg-transparent
                .card-block To become certified as Project Management Professional (PMP) within 18 months
            b My Actions are
            small.d-block.mb-2
                em If you need to change or add action, please do so in the 
                    u.font-weight-bold Goal Setting page
            #accordion-2(role='tablist', aria-multiselectable='true')
                .card.mb-2.bg-transparent
                    a.collapsed(data-toggle='collapse', data-parent='#accordion-2', href='#collapse-checkin-action-1', aria-expanded='true', aria-controls='collapse-checkin-action-1')
                        .card-header.bg-white#checkin-action-1(role='tab')
                            h6.d-inline-block.mb-0.font-weight-bold I will take a Project Management course at BCIT
                    #collapse-checkin-action-1.collapse.show.bg-transparent(role='tabpanel', aria-labelledby='checkin-action-1')
                        .card-block 
                            form(method='POST', action='/submit-checkin-1')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Employee Comment
                                        input#employee-checkin-comment-1.form-control(type='text', placeholder="How are you doing with this action?", name='employee-comment')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Manager Comment
                                        input#manager-checkin-comment-1.form-control(type='text', placeholder="What have you observed about the employee's efforts toward this action?", name='manager-comment')
                                button.btn.btn-primary.mt-2.ml-auto(type='submit') Submit
                //check-in action #2
                .card.mb-2.bg-transparent
                    a.collapsed(data-toggle='collapse', data-parent='#accordion-2', href='#collapse-checkin-action-2', aria-expanded='true', aria-controls='collapse-checkin-action-2')
                        .card-header.bg-white#checkin-action-2(role='tab')
                            h6.d-inline-block.mb-0.font-weight-bold I will participate at the UBC Project Management seminar on Sept 27, 2017
                    #collapse-checkin-action-2.collapse.bg-transparent(role='tabpanel', aria-labelledby='checkin-action-2')
                        .card-block 
                            form(method='POST', action='/submit-checkin-2')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Employee Comment
                                        input#employee-checkin-comment-1.form-control(type='text', placeholder="How are you doing with this action?", name='employee-comment')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Manager Comment
                                        input#manager-checkin-comment-1.form-control(type='text', placeholder="What have you observed about the employee's efforts toward this action?", name='manager-comment')
                                button.btn.btn-primary.mt-2.ml-auto(type='submit') Submit
        // goal review pane
        #goal-review.tab-pane.user-main.p-3(role='tabpanel')
            h4.font-weight-bold Goal Review

            b My Professional Development Goal is:
            .card.mb-2.mt-2.bg-transparent
                .card-block To become certified as Project Management Professional (PMP) within 18 months
            b My Actions are
            small.d-block.mb-2
                em If you need to change or add action, please do so in the 
                    u.font-weight-bold Goal Setting page
            #accordion-3(role='tablist', aria-multiselectable='true')
                .card.mb-2.bg-transparent
                    a.collapsed(data-toggle='collapse', data-parent='#accordion-3', href='#collapse-goal-review-1', aria-expanded='true', aria-controls='collapse-goal-review-1')
                        .card-header.bg-white#goal-review-1(role='tab')
                            h6.d-inline-block.mb-0.font-weight-bold I will take a Project Management course at BCIT
                    #collapse-goal-review-1.collapse.show.bg-transparent(role='tabpanel', aria-labelledby='goal-review-1')
                        .card-block 
                            form(method='POST', action='/submit-goal-review-1')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Employee Comment
                                        input#employee-goal-review-comment-1.form-control(type='text', placeholder="How effective was this action? Did you learn what you expected to?", name='employee-comment')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Manager Comment
                                        input#manager-goal-review-comment-1.form-control(type='text', placeholder="What have you observed about the employee's efforts toward this action?", name='manage-comment')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        .form-group.mb-3
                                            label.d-block.font-weight-bold.mr-5 What percent of this action was completed on time?
                                            select.form-control#goal-completion-select-1(name='goal-completion-select')
                                                option 0%
                                                option 10%
                                                option 20%
                                                option 30%
                                                option 40%
                                                option 50%
                                                option 60%
                                                option 70%
                                                option 80%
                                                option 90%
                                                option 100%
                                        .form-group.mb-3
                                            label.d-block.font-weight-bold.mr-5 Was this action effective towards the employees competence and knowledge?
                                            select.form-control#goal-effective-select-1(name='goal-effective-select')
                                                option Not effective
                                                option Somewhat effective
                                                option Effective
                                                option Very effective
                                                option Extremely effective
                                button.btn.btn-primary.mt-2.ml-auto(type='submit') Submit
                //check-in action #2
                .card.mb-2.bg-transparent
                    a.collapsed(data-toggle='collapse', data-parent='#accordion-3', href='#collapse-goal-review-2', aria-expanded='true', aria-controls='collapse-goal-review-2')
                        .card-header.bg-white#goal-review-2(role='tab')
                            h6.d-inline-block.mb-0.font-weight-bold I will participate at the UBC Project Management seminar on Sept 27, 2017
                    #collapse-goal-review-2.collapse.bg-transparent(role='tabpanel', aria-labelledby='goal-review-2')
                        .card-block 
                            form(method='POST', action='/submit-goal-review-2')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Employee Comment
                                        input#employee-goal-review-comment-2.form-control(type='text', placeholder="How are you doing with this action?", name='employee-comment')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue Manager Comment
                                        input#manager-goal-review-comment-2.form-control(type='text', placeholder="What have you observed about the employee's efforts toward this action?", name='manager-comment')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        .form-group.mb-3
                                            label.d-block.font-weight-bold.mr-5 What percent of this action was completed on time?
                                            select.form-control#goal-completion-select-2(name='goal-completion-select')
                                                option 0%
                                                option 10%
                                                option 20%
                                                option 30%
                                                option 40%
                                                option 50%
                                                option 60%
                                                option 70%
                                                option 80%
                                                option 90%
                                                option 100%
                                        .form-group.mb-3
                                            label.d-block.font-weight-bold.mr-5 Was this action effective towards the employees competence and knowledge?
                                            select.form-control#goal-effective-select-2(name='goal-effective-select')
                                                option Not effective
                                                option Somewhat effective
                                                option Effective
                                                option Very effective
                                                option Extremely effective
                                button.btn.btn-primary.mt-2.ml-auto(type='submit') Submit