.d-inline-block.w-50
    h1.font-weight-bold #{user.fname} #{user.lname} 
        span.badge.badge-info P1
    h4.text-muted.mb-4 Software Engineer
.d-inline-block.w-50
    form.form-inline.float-right(method='GET', action='/get-goal-period')
        select#period-select.form-control
        button.btn.btn-primary.ml-2(type='submit') View