.col-md-2.sidebar
    .profile-pic-div.mb-4.bg-white.rounded-circle.mx-auto
        img.profile-pic.rounded-circle(src='/images/male.png')
    label.d-block.font-weight-bold.text-dark-blue Employee ID
    | #{user.emp_id}
    hr.w-100
    label.d-block.font-weight-bold.text-dark-blue Hired Date
    |  23-Apr-10
    hr.w-100
    label.d-block.font-weight-bold.text-dark-blue Department:
    |  Software Engineering
    hr
    label.d-block.font-weight-bold.text-dark-blue Division:
    |  Engineering
    hr
    label.d-block.font-weight-bold.text-dark-blue Manager
    |  #{user.manager_id}