.container-fluid.topbar.bg-white.p-4.mb-3
    img.mr-4(src='/images/osi-maritime-systems.png')
    h2.d-inline-block Professional Development Plan
    .float-right
        form(method='GET', action='/logout')
            button(type='submit' class='btn btn-primary') Logout